<style>
    
    h1.test-header-title {
        text-align: start;
        text-transform: uppercase;
    }

    @media screen and (min-width: 40em) {
        h1.test-header-title {
            text-align: center;
        }
    }

</style>

<h1 class="test-header-title">{{ block.settings.text | escape }}</h1>

{% schema %}
{
  "name": "t:sections.large-message.name",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "large-message",
      "name": "t:sections.large-message.blocks.message.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.large-message.blocks.message.settings.text.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "message"
      }
    ]
  }
}
{% endschema %}